curl/
hiredis/
kore-4.2.3.tar.gz
openssl-1.1.1p.tar.gz
openssl-1.1.1p/
websocket/assets/bootstrap-5.2.1-dist.zip

*~
src/HEP_TEX.model
src/Punkt_LaTeX_SENT_Tokenizer.pickle.xz
src/Punkt_LaTeX_SENT_Tokenizer.pickle
2003_errors
websocket/websocket.so
*.out
a.out
nltk_data
lex.yy.c
2003
notebooks/hep-th/
hep-th-2003.tar.gz
splint/
openssl/
postgresql/
.ipynb_checkpoints
*.swp
*.swo
EVP_MD.o
flex_files/*.out
flex_files/*.csv
lexer
