src/*.so
curl/
hiredis/
kore-4.2.3.tar.gz
openssl-1.1.1p.tar.gz
openssl-1.1.1p/
websocket/assets/bootstrap-5.2.1-dist.zip

*~
src/HEP_TEX.model
src/Punkt_LaTeX_SENT_Tokenizer.pickle.xz
src/Punkt_LaTeX_SENT_Tokenizer.pickle
2003_errors
websocket/websocket.so
*.out
a.out
nltk_data
lex.yy.c
2003
notebooks/hep-th/
hep-th-2003.tar.gz
splint/
openssl/
postgresql/
.ipynb_checkpoints
*.swp
*.swo
EVP_MD.o
flex_files/*.out
flex_files/*.csv
lexer
src/abstract.c
src/affiliation.c
src/algorithm.c
src/align.c
src/aligned.c
src/author.c
src/bibitem.c
src/caption.c
src/cases.c
src/center.c
src/cite.c
src/definition.c
src/description.c
src/displaymath.c
src/emph.c
src/enumerate.c
src/eqnarray.c
src/equation.c
src/figure.c
src/flushleft.c
src/flushright.c
src/fmfgraph.c
src/gather.c
src/itemize.c
src/keywords.c
src/label.c
src/lemma.c
src/list.c
src/lstcode.c
src/lstlisting.c
src/mathletters.c
src/matrix.c
src/minipage.c
src/minted.c
src/multline.c
src/picture.c
src/pmatrix.c
src/proof.c
src/prop.c
src/proposition.c
src/quotation.c
src/quote.c
src/ref.c
src/references.c
src/scope.c
src/section.c
src/slm.c
src/split.c
src/subequations.c
src/table.c
src/tabular.c
src/textbf.c
src/textit.c
src/theorem.c
src/title.c
src/titlepage.c
src/url.c
src/usepackage.c
src/verbatim.c
src/__pycache__
